resources/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="title" type="xs:string"/>
    <xs:element name="description" type="xs:string"/>
    <xs:element name="choice" type="xs:string"/>
    <xs:element name="choices">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="choice" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="question">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="description"/>
                <xs:element ref="choices"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="content">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="type" use="optional" default="video"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="page">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="title" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="description" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="content" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="question" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="required"/>
            <xs:attribute type="xs:string" name="next_button" use="optional" default="Next"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="randomized_pages">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="page" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="cagliostro">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="1">
                <xs:element ref="page" maxOccurs="unbounded" minOccurs="1"/>
                <xs:element ref="randomized_pages" maxOccurs="unbounded" minOccurs="1"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="title" default="Cagliostro"/>
            <xs:attribute type="xs:string" name="participant" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>

